<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProperty scope="context" name="application_name" source="spring.application.name"/>
    <springProperty scope="context" name="application_port" source="server.port"/>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - [TraceID: %X{traceId}, SpanId: %X{spanId}] %msg%n"/>
    <property name="LOGSTASH_HOST" value="localhost"/>
    <property name="LOGSTASH_PORT" value="5050"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <remoteHost>${LOGSTASH_HOST}</remoteHost>
        <port>${LOGSTASH_PORT}</port>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGSTASH" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>